<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <script>
        //判断有没有session
        var xhr = new XMLHttpRequest();
        xhr.open('get','./api/checkLogin.php');
        xhr.send();
        xhr.onreadystatechange=function(){
          if(xhr.readyState==4 && xhr.status==200){
            var obj=JSON.parse(xhr.responseText);
            // console.log(obj);
            // console.log(obj.msg);
            if(obj.msg!='ok'){
              location='login.html';
            }
          }
        }
      
      </script>
      
  <meta charset="utf-8">
  <title>Comments &laquo; Admin</title>
  <link rel="stylesheet" href="../assets/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/vendors/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="../assets/vendors/nprogress/nprogress.css">
  <link rel="stylesheet" href="../assets/css/admin.css">
  <script src="../assets/vendors/nprogress/nprogress.js"></script>

  <style>
      th,td{
        max-width: 420px;
      }
  
  
  </style>
</head>
<body>
  <script>NProgress.start()</script>

  <div class="main">
    <nav class="navbar">
      <button class="btn btn-default navbar-btn fa fa-bars"></button>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="profile.html"><i class="fa fa-user"></i>个人中心</a></li>
        <li><a href="api/doLoginOut.php"><i class="fa fa-sign-out"></i>退出</a></li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="page-title">
        <h1>所有评论</h1>
      </div>
      <!-- 有错误信息时展示 -->
      <!-- <div class="alert alert-danger">
        <strong>错误！</strong>发生XXX错误
      </div> -->
      <div class="page-action">
        <!-- show when multiple checked -->
        <div class="btn-batch" style="display: none">
          <!-- 如果是button的话,就加行内点击事件 -->
          <button onclick="editBatch('approved')" class="btn btn-info btn-sm" >批量批准</button>
          <button onclick="editBatch('rejected')" class="btn btn-warning btn-sm">批量拒绝</button>
          <button onclick="editBatch('trashed')" class="btn btn-danger btn-sm">批量删除</button>
        </div>
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">上一页</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">下一页</a></li>
        </ul>
      </div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center" width="40"><input type="checkbox"></th>
            <th>作者</th>
            <th>评论</th>
            <th>评论在</th>
            <th>提交于</th>
            <th>状态</th>
            <th class="text-center" width="100">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr class="danger">
            <td class="text-center"><input type="checkbox"></td>
            <td>大大</td>
            <td>楼主好人，顶一个</td>
            <td>《Hello world》</td>
            <td>2016/10/07</td>
            <td>未批准</td>
            <td class="text-center">
              <a href="post-add.html" class="btn btn-info btn-xs">批准</a>
              <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
            </td>
          </tr>
          <tr>
            <td class="text-center"><input type="checkbox"></td>
            <td>大大</td>
            <td>楼主好人，顶一个</td>
            <td>《Hello world》</td>
            <td>2016/10/07</td>
            <td>已批准</td>
            <td class="text-center">
              <a href="post-add.html" class="btn btn-warning btn-xs">驳回</a>
              <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
            </td>
          </tr>
          <tr>
            <td class="text-center"><input type="checkbox"></td>
            <td>大大</td>
            <td>楼主好人，顶一个</td>
            <td>《Hello world》</td>
            <td>2016/10/07</td>
            <td>已批准</td>
            <td class="text-center">
              <a href="post-add.html" class="btn btn-warning btn-xs">驳回</a>
              <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="aside">
    <div class="profile">
      <img class="avatar" src="../uploads/avatar.jpg">
      <h3 class="name">布头儿</h3>
    </div>
    <ul class="nav">
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i>仪表盘</a>
      </li>
      <li>
        <a href="#menu-posts" class="collapsed" data-toggle="collapse">
          <i class="fa fa-thumb-tack"></i>文章<i class="fa fa-angle-right"></i>
        </a>
        <ul id="menu-posts" class="collapse">
          <li><a href="posts.html">所有文章</a></li>
          <li><a href="post-add.html">写文章</a></li>
          <li><a href="categories.html">分类目录</a></li>
        </ul>
      </li>
      <li class="active">
        <a href="comments.html"><i class="fa fa-comments"></i>评论</a>
      </li>
      <li>
        <a href="users.html"><i class="fa fa-users"></i>用户</a>
      </li>
      <li>
        <a href="#menu-settings" class="collapsed" data-toggle="collapse">
          <i class="fa fa-cogs"></i>设置<i class="fa fa-angle-right"></i>
        </a>
        <ul id="menu-settings" class="collapse">
          <li><a href="nav-menus.html">导航菜单</a></li>
          <li><a href="slides.html">图片轮播</a></li>
          <li><a href="settings.html">网站设置</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <script src="../assets/vendors/jquery/jquery.js"></script>
  <script src="../assets/vendors/bootstrap/js/bootstrap.js"></script>
  <script>NProgress.done()</script>
</body>
</html>

<script src='../assets/vendors/jquery/template-web.js'></script>


<!-- 下面评论区的模板 -->
<script type='21' id='tplTr'>
  {{ each list value }}

    {{ if value.status=='held'}}
    <tr class='danger'>
    {{ else }}
    <tr>
    {{ /if }}
        <td class="text-center"><input type="checkbox" value="{{ value.Id }}"></td>
        <td>{{ value.author }}</td>
        <td>{{ value.content }}</td>
        <td>《{{ value.title }}》</td>
        <td>{{ value.created }}</td>

      {{ if value.status =='approved' }}
        <td>已批准</td>
      {{ else if value.status=='held' }}
        <td>待审核</td>
      {{ else }}
        <td>已拒绝</td>
      {{ /if }}
        <td class="text-center">
          {{ if value.status=='approved' }}
          <a href="javascript:doTr('rejected',{{ value.Id }})" class="btn btn-warning btn-xs">驳回</a>
          {{ else if value.status =='held' }}
          <a href="javascript:doTr('approved',{{ value.Id }})" class="btn btn-info btn-xs">批准</a>
          {{ /if }}
          <a href="javascript:doTr('trashed',{{ value.Id }})" class="btn btn-danger btn-xs">删除</a>
        </td>
      </tr>
    {{ /each }}

</script>


<!-- 页码的模板 -->
<script type='text/html' id='tplPage'>

  <!-- 判断:如果当前页为第一页,点击上一页就要跳到最后一页 -->
  {{ if currentPage==1 }}
  <li><a href="javascript:getData({{ totalPage }})">上一页</a></li>
  {{ else }}
  <li><a href="javascript:getData({{ currentPage-1 }})">上一页</a></li>
  {{ /if }}

  <% for(var i = 1;i<=totalPage;i++){ %>

    <!-- 判断高亮加active类 -->
    {{ if i==currentPage }}
    <li class='active'>
    {{ else }}
    <li>
    {{ /if }}

      <!-- 给a标签一个行内点击事件,执行下面封装好的函数,把当前的页码i当参数传进去 -->
      <a href="javascript:getData({{ i }})">{{ i }}</a>
    
    </li>

  <% } %>

  <!-- 判断:如果当前页等于最后一页,点击下一页就要跳到第一页 -->
  {{ if currentPage==totalPage }}
  <li><a href="javascript:getData(1)">下一页</a></li>
  {{ else }}
  <li><a href="javascript:getData({{ currentPage+1 }})">下一页</a></li>
  {{ /if }}
 

</script>
<script>
    //发送请求接受数据,评论内容和页码
    //把下面的代码封装成函数,参数传页码,就可以点击事件


    //分页的点击事件封装成一个函数,参数是页码数,也就是模板里面的i,然后在a标签里面调用这个函数
   
   var globalPage,totalPage;
    function getData(page){
      //3.每次刷新页面都要隐藏批量操作而且要去掉全选
      $('.btn-batch').fadeOut();
      $('thead :checkbox').prop('checked',false);


      globalPage=page;
      $.get({
      url:'api/getComments.php',
      data:{pageIndex:page,pageSize:10},
      dataType:'json',
      success:function(obj){
        console.log(obj);
        totalPage=obj.totalPage;
        var html1 = template('tplTr',{list:obj.data});
        $('tbody').html(html1);

        //currentPage是代表高亮的页码,把currentPage改为当前页page,即为当前页高亮
        var html2 = template('tplPage',{totalPage:obj.totalPage,currentPage:page});
        $('.pagination').html(html2);

      }
    })
    }


    getData(1);


    //点击上面的全选框,tbody里面的框的状态和thead的checked状态一样
    $('thead :checkbox').on('click',function(){
      console.log(this.checked);
      $('tbody :checkbox').prop('checked',this.checked);

      //如果点击了checked是true,那么批量操作要出现
      if(this.checked){
        $('.btn-batch').fadeIn();
      }else{
        $('.btn-batch').fadeOut();
      }
     
    })

    //下面的选择框的状态都是选中,上面的选择框的状态才是选中,有一个不是选中的,上面的也不选中
    //要用事件委托,因为如果tbody里面的checkbox是页面开始加载的时候没有出现的,ajax是异步的,需要先执行同步的代码再执行异步的,所以在点击的时候,页面还没有
    //这些checkbox,不能点击上,要用时间委托

    $('tbody').on('click',':checkbox',function(){
      //获取下面的checkbox的个数
      var checkAllNum = $('tbody :checkbox').length;
      

      //获取下面的选中的checkbox的个数
      var checkNum = $('tbody :checked').length;

      $('thead :checkbox').prop('checked',checkAllNum==checkNum);

      //如果被选中的checkbox的个数>1;就要显示批量操作
      if(checkNum>=1){
        $('.btn-batch').fadeIn();
      }else{
        $('.btn-batch').fadeOut();
      }
    })
      
    
    //修改单行修改的操作代码
   function doTr(st,id){
    
     $.post({
       url:'api/editComments.php',
       data:{status:st,ids:id},
       dataType:'json',
       success:function(obj){
          //  console.log(obj);
          if(obj.msg=='ok'){
            //2.如果修改的单行,是最后一页,只剩最后一个,且是删除,就刷新上一页,否则刷新当前页
            if(globalPage==totalPage && $('tbody :checkbox').length==1 && st=='trashed'){
              getData(globalPage-1);

            }else{
              getData(globalPage);

            }
          }else{
            alert('修改失败!');
          }
       }
     })
   }


   //修改批量操作的函数
   function editBatch(st){
      //遍历tbody中每一个已选中的checkbox的value
      var str = '';
      $('tbody :checked').each(function(index,ele){
        //取出每个元素的value,拼接为字符串
        str +=ele.value+","; 
     })
     //把str的最后一个逗号去掉,用substr方法,第一个参数是其实索引,第二个参数代表长度
     str = str.substr(0,str.length-1);
     console.log(str);

     $.post({
       url:"api/editComments.php",
      //  把上面拼接好的str赋值给ids
       data:{status: st ,ids:str},
       dataType:'json',
       success:function(obj){
            console.log(obj);
            //如果修改成功,刷新当前页面
            if(obj.msg=='ok'){
              //1.如果当前页是最后一页,且选的是删除,并且使全选删除的话,就刷新上一页
              if(globalPage==totalPage && st=='trashed' && $('thead :checked').length>0){
                getData(globalPage-1);

              }else{

                getData(globalPage);
              }
            }else{
              alert('修改失败!');
            }
       }

     })
   }


</script>
