* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
html {
  font-size: 26.66667vw;
}
a {
  color: #fff;
}
body {
  font-size: .14rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  line-height: .14rem;
}
/*头部基本样式*/
#header {
  height: .45rem;
  background-color: #006699;
  display: flex;
}
#header .left {
  width: .45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .center {
  flex: 1;
}
#header .center h4 {
  color: #fff;
  font-weight: normal;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .right {
  width: .45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*主体基本样式*/
#main {
  flex: 1;
}
/*尾部基本样式*/
#footer {
  height: .45rem;
  background-color: #006699;
}
#footer .mui-row > div a {
  height: .45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#footer .mui-row > div.active a {
  color: orange;
}
#header .center form {
  padding-top: .05rem;
}
#header .center form input {
  height: .35rem;
  margin-bottom: 0;
  font-size: .14rem;
  border-radius: 0.05rem;
}
#main {
  display: flex;
  position: relative;
}
#main .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .mask img {
  width: 1rem;
  border-radius: 50%;
}
#main .mui-scroll-wrapper {
  position: relative;
  height: 100%;
}
#main .mui-scroll-wrapper .mui-scroll {
  height: auto;
}
#main .left-category {
  width: .8rem;
  height: 100%;
}
#main .left-category .mui-table-view li a {
  padding: .15rem;
}
#main .left-category .mui-table-view li::after {
  position: absolute;
  left: 0;
}
#main .left-category .mui-table-view li.active {
  background-color: #eee;
}
#main .right-category {
  flex: 1;
  padding: .1rem;
}
#main .right-category .mui-row > div {
  margin-bottom: .1rem;
}
#main .right-category .mui-row > div a {
  background-color: #fff;
  display: block;
  height: 0.8rem;
}
#main .right-category .mui-row > div a img {
  width: 100%;
}
#main .right-category .mui-row > div a p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
