* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
html {
  font-size: 26.66667vw;
}
a {
  color: #fff;
}
body {
  font-size: .14rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  line-height: .14rem;
}
/*头部基本样式*/
#header {
  height: .45rem;
  background-color: #006699;
  display: flex;
}
#header .left {
  width: .45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .center {
  flex: 1;
}
#header .center h4 {
  color: #fff;
  font-weight: normal;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .right {
  width: .45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*主体基本样式*/
#main {
  flex: 1;
}
/*尾部基本样式*/
#footer {
  height: .45rem;
  background-color: #006699;
}
#footer .mui-row > div a {
  height: .45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#footer .mui-row > div.active a {
  color: orange;
}
#main {
  background-color: #fff;
  overflow: hidden;
}
#main .mui-scroll-wrapper {
  height: 100%;
  position: relative;
}
#main .mui-scroll-wrapper .mui-scroll {
  height: auto;
}
#main form {
  display: flex;
  padding: 0.05rem;
  height: .45rem;
}
#main form input {
  margin: 0;
  height: 0.35rem;
  font-size: .14rem;
  border: 1px solid #006699;
  flex: 1;
  border-radius: .06rem 0 0 .06rem;
  height: 100%;
}
#main form button {
  border-radius: 0 0.06rem .06rem 0;
  background-color: #006699;
  width: 0.7rem;
}
#main .mui-card {
  margin: .1rem 0;
  box-shadow: 0 0 0 transparent;
}
#main .mui-card .mui-card-header {
  font-size: .14rem;
  background-color: #eee;
  padding: 0;
  min-height: .3rem;
  padding: 0 .1rem;
}
#main .mui-card .mui-card-header a {
  color: #666;
}
#main .mui-card .mui-card-header a.active {
  color: red;
}
#main .mui-card .mui-card-content {
  margin: .05rem;
  text-align: center;
}
#main .mui-card .mui-card-content .mui-row > div {
  padding: .05rem;
}
#main .mui-card .mui-card-content .mui-row > div a {
  display: block;
  border: 0.01rem solid #ccc;
  padding-bottom: .15rem;
}
#main .mui-card .mui-card-content .mui-row > div a img {
  width: 100%;
}
#main .mui-card .mui-card-content .mui-row > div a .productName {
  line-height: .2rem;
  height: .4rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
