* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
html {
  font-size: 26.66667vw;
}
a {
  color: #fff;
}
body {
  font-size: .14rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  line-height: .14rem;
}
/*头部基本样式*/
#header {
  height: .45rem;
  background-color: #006699;
  display: flex;
}
#header .left {
  width: .45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .center {
  flex: 1;
}
#header .center h4 {
  color: #fff;
  font-weight: normal;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .right {
  width: .45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*主体基本样式*/
#main {
  flex: 1;
}
/*尾部基本样式*/
#footer {
  height: .45rem;
  background-color: #006699;
}
#footer .mui-row > div a {
  height: .45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#footer .mui-row > div.active a {
  color: orange;
}
#main form .mui-input-row input {
  font-size: .14rem;
}
#main form .mui-input-row .btn-code {
  position: absolute;
  right: 0;
  width: 1rem;
  margin-top: .0125rem;
}
#main form .mui-input-row .btn-register {
  width: 3rem;
}
