* {
  padding: 0;
  margin: 0;
}
body,
html {
  height: 100%;
}
#main {
  height: 100%;
  display: flex;
}
#main .left {
  width: 200px;
  height: 100%;
  background-color: skyblue;
}
#main .left .icon {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main .left .icon img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 10px solid #fff;
  box-shadow: 0px 0px 2px 2px pink;
  margin-bottom: 10px;
}
#main .left .list-group .list-group-item {
  border: 0;
  background-color: transparent;
}
#main .left .list-group .list-group-item.active {
  background-color: pink;
}
#main .left .list-group .list-group-item:hover {
  background-color: pink;
}
#main .left .list-group #collapseExample {
  margin-left: 20px;
}
#main .right {
  flex: 1;
}
#main .right #header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
#main .right #header a {
  text-decoration: none;
  font-size: 14px;
}
#main .right #header a::before {
  font-size: 25px;
  vertical-align: middle;
}
#main .right #header a.glyphicon-th-list {
  color: yellowgreen;
}
#main .right .content {
  background-color: #f5f5f5;
  padding: 20px;
}
#main .right .content th,
#main .right .content td {
  text-align: center;
  padding: 0;
  line-height: 85px;
}
#main .right .content img {
  width: 165px;
  height: 85px;
}
/*模态框*/
.modal .modal-body {
  text-align: center;
}
.modal .modal-body img {
  width: 150px;
}
