body {
  background-color: #2f4050;
}
form {
  width: 500px;
  height: 340px;
  background-color: #fff;
  margin: 100px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  position: relative;
}
form .form-group {
  width: 450px;
}
form .form-group .btn-login {
  width: 100%;
  background-color: hotpink;
}
form .user-icon {
  position: absolute;
  width: 130px;
  top: -25%;
  border-radius: 50%;
  border: 10px solid #fff;
  box-shadow: 0px 0px 2px 2px pink;
}
